.next-page-container {
  height: 1px;
}

.infinite-scroll-wrapper {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  flex: 1;
  min-height: 0;
  overflow-y: scroll;
}

.infinite-scroll-content {
  flex-direction: row;
  flex-grow: 1;
}

.infinite-scroll-footer {
  background-color: silver;
}
