div.menu {
  height: 100vh;

  div.menu_button {
    width: calc((100vw - 100px) / 4);
    float: left;
    margin: 10px;
    border: solid black 1px;
    border-radius: 10px;
    box-shadow: 5px 5px #eeeeee;
    &:after {
      content: '';
      display: block;
      padding-bottom: 100%;
    }
    font-size: 5vw;
    &.active {
      cursor: pointer;
    }
  }
}

div.scroll-v {
  overflow-y: scroll;
}


.btn-block {
  width: auto;
}

/*
@each $breakpoint, $size in $grid-breakpoints {
  @include media-breakpoint-up($breakpoint) {
    @if $size != 0 {
      div.menu_button {
        width: $size / 4;
        height: $size / 4;
        font-size: $size / 30;
      }
    }
  }
}
*/
