div.menu {
  height: 100vh;
}

div.menu_button {
  width: 120px;
  height: 120px;
  float: left;
  padding: 10px;
  margin: 10px;
  border: solid black 1px;
  border-radius: 10px;
  box-shadow: 5px 5px #eeeeee;
}

div.scroll-v {
  overflow-y: scroll;
}


.btn-block {
  width: auto;
}

@debug $grid-breakpoints;

@mixin btn-block() {
  display: block;
  padding-bottom: .8rem;
  margin-top: .5rem;
  margin-bottom: .5rem;
  width: 100%;
}

@each $breakpoint, $size in $grid-breakpoints {
  @include media-breakpoint-up($breakpoint) {
    @if $size != 0 {
      div.menu_button {
        width: $size / 4;
        height: $size / 4;
        font-size: $size / 30;
      }
    }
  }
}
