.btn-block {
  width: auto;
}

@mixin btn-block() {
  display: block;
  padding-bottom: .8rem;
  margin-top: .5rem;
  margin-bottom: .5rem;
  width: 100%;
}

@each $breakpoint in map-keys($grid-breakpoints) {
  @include media-breakpoint-down($breakpoint) {
    $infix: "-#{$breakpoint}";
    .btn#{$infix}-block { 
      @include btn-block();
    };
  }
}
