
$body-bg: white;

html, body {
  height: 100%;
}

@import "~bootstrap/scss/bootstrap.scss";

@import "scss/bootstrap_helper";

@import "scss/mixins";
@import "scss/menu";
@import "scss/product";
@import "scss/infinite_scroll";

.simple-keyboard {
  position: absolute;
  bottom: 0px;
  display: none;
}

.show-keyboard {
  display: block;
}
