<div class="menu scroll-v">
  <% { 'Take Item' => nil, 'Return Item' => nil, 'Place Asset' => nil, 'Product Search' => products_path, 'Settings' => nil}.each do |menu, link| %>
    <div class="menu_button d-flex align-items-center justify-content-center" style="background-color: <%= cycle(['#FFE0BE', '#FFF1CC', '#C5EABD', '#D2CFE9', '#F5D8F2']) %>;">
      <%= menu %>
    </div>
  <% end %>
  <% (0..50).each do |i| %>
    <div class="menu_button d-flex align-items-center justify-content-center" style="background-color: #ddd;">
    </div>
  <% end %>
</div>
