<div class="product d-flex">
  <div class="d-flex">
    <div class="code align-self-center px-1"><%= product.code %></div>
    <div class="detail d-flex flex-column px-1">
      <div class="name fs-5"><%= product.name %></div>
      <div class="description"><%= product.description %></div>
    </div>
  </div>
</div>
